#siteheader {
  img {
    max-width: 583px;
  }
}

.linktree {
  .grid {
    --bs-gap: 0 0;
  }
  a {
    height: 571px;
    border: 1px solid $white;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
    overflow: hidden;
    p {
      @include font-size(1.813rem);
      letter-spacing: 2px;
      bottom: 50%;
      right: 50%;
      transform: translate(50%, 50%);
    }
    &.animation-left,
    &.animation-right {
      background-position-y: center;
    }
    &.animation-up,
    &.animation-down {
      background-position-x: center;
    }
    &:hover {
      background-position: center center !important;
    }
  }
}

#sitefooter {
  .menu {
    text-align: center;
    @extend .list-inline;
    .menu-item {
      @extend .list-inline-item;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
      &:not(:last-of-type) {
        margin-right: 50px;
      }
    }
  }
}